body,
input {
	font-size: 14pt;
}
input,
label {
	vertical-align: middle;
}
.qrcode-text {
	padding-right: 1.7em;
	margin-right: 0;
}
.qrcode-text-btn {
	position: relative;
	display: inline-block;
	background: url(../img/camera.svg) 50% 50% no-repeat;
	margin-top: 0.4rem;
	height: 2em;
	width: 2em;
	cursor: pointer;
	margin-left: 1em;
}
.qrcode-text-btn > input[type="file"] {
	position: absolute;
	overflow: hidden;
	width: 1px;
	height: 1px;
	opacity: 0;
}
